<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.codecracker.session.SessionAttributeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>com.codecracker.session.ViewSessionAttribute</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>error</servlet-name>
		<servlet-class>com.codecracker.session.ErrorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>springSessionRepositoryFilter</filter-name>
		<filter-class>com.codecracker.session.CustomFIlter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSessionRepositoryFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
